<%
=begin%>
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%
=end%>


<div class="text-center">
  <h1><%= @user.name %></h1>
  <p class="buffer-top">
    <%= link_to "Редактировать профиль", edit_user_path(@user), class: 'btn btn-warning' %>
  </p>
</div>