<!DOCTYPE html>
<html>

<head>
  <title>Cnt</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>



  <div class="navbar navbar-responsive-collapse">
    <ul class="nav nav-tabs">
      <li class="nav-item nav-link"><%= link_to "Главная", "/index" %></li>
      <li class="nav-item nav-link"><%= link_to "Контакты", "/index" %></li>
      <li class="nav-item nav-link"><%= link_to "Вход", "/index" %></li>
    </ul>
  </div>

  <%= yield %>

  <div class="container">
    <div class="footer row">
      <div class="col text-center">СНТ "Дубки"</div>
    </div>
  </div>

</body>

</html>